#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#main {
    display: grid;
    margin-top: 20px;
    width: 50%;
    grid-template-columns: repeat(16, 40px); /* Adjust the width of each cell */
    grid-template-rows: repeat(16, 40px); /* Adjust the height of each cell */
    gap: 1px;
    height: 50%;
}

.cell {
    width: 100%;
    height: 100%;
    background: white;
    border: 1px solid #ccc;
}

.cell:hover {
    background: black;
}

#newGridButton {
    margin-top: 25px;
}